.header {
	display: flex;
	padding: 20px 10%;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	color: #000;
	font-size: 30px;

	&__logo {
		font-size: 30px;
	}

	&__title {
		font-size: 18px;
		font-weight: 800;
	}

	&__anchors {
		display: flex;
		&__anchor {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			padding: 0px 20px;
			color: rgba(153, 152, 157, 1);
			font-size: 15px;
			font-weight: 800;
			text-decoration: none;
		}
	}

	.active {
		color: #2D314D;
	}
}